*  {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: olive;
}

footer {
    background-color: goldenrod;
}

.grid {
   
}

.grid-item__25 {
    flex: 0 0 25%;
}

.grid-item__50 {
    flex: 0 0 50%;
}

.grid-item__75 {
    flex: 0 0 75%;
}

.background-color-red {
    background-color: red;
}

.background-color-purple {
    background-color: purple;
}

.background-color-skyblue {
    background-color: skyblue;
}

.background-color-orchid {
    background-color: orchid;
}

.background-color-coral {
    background-color: coral;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-direction-column {
    flex-direction: column;
}

@media screen and (width > 400px) {
    .grid {
        display:flex;
    }
}